*.iml
/.idea

*.DS_Store

/venv/

/lib/bike-path-quality-firebase-adminsdk-cgjm5-640ce5b722.json
/lib/__pycache__/*
/lib/base_model/__pycache__/*
/lib/base_model/layers/__pycache__/*
/results/
/workspace/
