*.iml
/.idea

*.DS_Store

/venv/

/lib/__pycache__/*
/lib/models/base_model_cnn/__pycache__/*
/lib/models/base_model_cnn/layers/__pycache__/*
/lib/cloud/*.json
/lib/data_pre_processing/__pycache__/*
/lib/data_preparation/__pycache__/*
/lib/log/__pycache__/*
/lib/log/telegram.config
/lib/plotters/__pycache__/*
/lib/statistics/__pycache__/*
/workspace/
